.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
    }
body {
    background: #fffffff;
}
p {
    color: blue;
    font-size: 30px;
}

.icon-logo .path1:before {
  content: "\e900";
  color: #db2b36;
}
.icon-logo .path2:before {
  content: "\e901";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path3:before {
  content: "\e902";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path4:before {
  content: "\e903";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path5:before {
  content: "\e904";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path6:before {
  content: "\e905";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path7:before {
  content: "\e906";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path8:before {
  content: "\e907";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path9:before {
  content: "\e908";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path10:before {
  content: "\e909";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path11:before {
  content: "\e90a";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path12:before {
  content: "\e90b";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path13:before {
  content: "\e90c";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path14:before {
  content: "\e90d";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path15:before {
  content: "\e90e";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path16:before {
  content: "\e90f";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path17:before {
  content: "\e910";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path18:before {
  content: "\e911";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path19:before {
  content: "\e912";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path20:before {
  content: "\e913";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path21:before {
  content: "\e914";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path22:before {
  content: "\e915";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path23:before {
  content: "\e917";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path24:before {
  content: "\e918";
  color: #fff;
  margin-left: -3.94921875em;
}
.icon-logo .path25:before {
  content: "\e919";
  color: #fff;
  margin-left: -3.94921875em;
}