{% extends "base.html" %}

{% block title %}Title from user page{% endblock %}

{% block page_content %}
<div class="card" style="width: 18rem;">
  <img src="https://i.picsum.photos/id/175/2896/1944.jpg?hmac=djMSfAvFgWLJ2J3cBulHUAb4yvsQk0d4m4xBJFKzZrs" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">!!!! link</a>
  </div>
</div>

{% endblock %}